<!--
    Author: Vincent Futrell
    Date Last Modified: 04/12/2021
    Description: This is the view page for the details of an individual protocol. This page contains razor
    code to display certain information from the database and depending upon the current role of the user, will
    or will not display the link to the edit page.
-->
@model EMT_WebPortal.Models.Guideline

@{
    ViewData["Title"] = "Details";
}

<h1>Guideline Details: @Model.Name</h1>

<div>
    <h4>Guideline</h4>
    <hr />
    <dl class="row">
        <dt class = "col-12">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-12">
            @Html.DisplayNameFor(model => model.Background)
        </dt>
        <dd class = "col-12">
            @Html.Raw(Model.Background)
        </dd>
        <dt class = "col-12">
            @Html.DisplayNameFor(model => model.Checklist)
        </dt>
        <dd class = "col-12">
            @Html.Raw(Model.Checklist)
        </dd>
    </dl>
</div>

  
<div class="row" style="justify-content:left">
    <div class="col-2">
        <input style="width:100%" type="button" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("Edit","Guidelines", new{ id = Model.Id})'" />
    </div>
    <div class="col-2">
        <input style="width:100%" type="button" value="Back To List" class="btn btn-danger" onclick="location.href='@Url.Action("Index","Guidelines")'" />
    </div>
</div>

