<!--
    Author: Vincent Futrell
    Date Last Modified: 04/12/2021
    Description: This is the view page that lists all Guidelines existing in the database. This page
    contains razor code to display certain data and depending upon the role of the current user will
    or will not display the links to the create, edit, and delete pages.
-->
@model IEnumerable<EMT_WebPortal.Models.Guideline>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("WebMaster"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Background)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Checklist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @if (item.Background == null || item.Background.Length <= 100)
                    {
                        @Html.DisplayFor(modelItem => item.Background)
                    }
                    else
                    {
                        @(item.Background.ToString().Substring(0,100) + "...")
                    }
                </td>
                <td>
                    @if (item.Checklist == null || item.Checklist.Length <= 100)
                    {
                        @Html.DisplayFor(modelItem => item.Checklist)
                    }
                    else
                    {
                        @(item.Checklist.ToString().Substring(0,100) + "...")
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Administrator") || User.IsInRole("WebMaster"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> | Edit |</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete |</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
