<!--
    Author: Vincent Futrell
    Date Last Modified: 04/12/2021
    Description: This is the view page for the details of an individual protocol. This page contains razor
    code to display certain information from the database and depending upon the current role of the user, will
    or will not display the link to the edit page.
-->
@model EMT_WebPortal.Models.Protocol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Protocol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientType)
        </dt>
        <dd class="col-sm-10">

            @Html.DisplayFor(model => model.PatientType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAssociatedMedication)
        </dt>
        <dd class="col-sm-10">
            @{if (Model.HasAssociatedMedication)
                {
                    string displayText = " : Yes";
                    @Html.DisplayFor(model => displayText)
                }
                else
                {
                    string displayText = " : No";
                    @Html.DisplayFor(model => displayText)
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherInformation)
        </dt>
        <dd class = "col-sm-10, multiline">
            @Html.DisplayFor(model => model.OtherInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentPlan)
        </dt>
        <dd class = "col-sm-10, multiline">
            @Html.DisplayFor(model => model.TreatmentPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guideline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guideline.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Administrator") || User.IsInRole("WebMaster"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    }
    | <a asp-action="Index">Back to List</a>
</div>
