@model EMT_WebPortal.Models.Protocol

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Protocol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Certification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Certification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasAssociatedMedication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasAssociatedMedication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.OtherInformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(Model.TreatmentPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Guideline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Guideline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OLMCRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OLMCRequired)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
