@model IEnumerable<EMT_WebPortal.Models.Log>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamLead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialCases)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Provider)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialCases)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RunNum">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RunNum">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RunNum">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
