@model IEnumerable<EMT_WebPortal.Models.PhoneNumber>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <input type="button" onclick="location.href='@Url.Action("Create", "PhoneNumbers")'" value="Create New" class="btn btn-outline-success" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hospitalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberString)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hospitalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberString)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "PhoneNumbers", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                @if (User.IsInRole("Administrator") || User.IsInRole("Director"))
                {
                    @Html.ActionLink("Edit", "Edit", "PhoneNumbers", new { id = item.Id }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Delete", "Delete", "PhoneNumbers", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                }
            </td>
        </tr>
}
    </tbody>
</table>
