@using System.Drawing;
@using System.IO;
@model IEnumerable<EMT_WebPortal.Models.Chart>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <input type="button" onclick="location.href='@Url.Action("Create", "Charts")'" value="Create New" class="btn btn-outline-success"/>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsQuickLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Protocol)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Photo)" width="80" height="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsQuickLink)
            </td>
            <td class="col-sm-10">
                @Html.DisplayFor(modelItem => item.Protocol)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", "Charts", new { id = item.ID }, new { @class = "btn btn-outline-info", @style = "width:120px;" })
                @if (User.IsInRole("Administrator") || User.IsInRole("Director"))
                {
                   // @Html.ActionLink("Delete", "Delete", "Charts", new { id = item.ID }, new { @class = "btn btn-outline-danger", @style = "width:120px;" })
                   <button type ="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#confirmCancel" style="width:120px;"></button>
                }
            </td>
        </tr>
}
    </tbody>
</table>

!
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
